version: 2.1

parameters:
  ALLURE_JOB_RUN_ID:
    type: string
    default: ""
  BROWSER:
    type: string
    default: "firefox"
  TESTING_HOST:
    type: string
    default: "https://demo.testops.cloud"

jobs:
  build:
    docker:
      - image: python:3.9.1
    working_directory: ~/repo
    environment:
      ALLURE_ENDPOINT: "https://demo.testops.cloud"
      ALLURE_PROJECT_ID: 1724
      ALLURE_JOB_RUN_ID: << pipeline.parameters.ALLURE_JOB_RUN_ID >>
      ALLURE_RESULTS: "allure-results"
      TESTING_HOST: << pipeline.parameters.TESTING_HOST >>
      BROWSER: << pipeline.parameters.BROWSER >>
      ALLURE_LAUNCH_TAGS: "regular, circle"
    steps:
      - checkout
      - run: printenv
      - run: |
          pip install pytest, allure-pytest
      - run: |
          wget https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64 -O ./allurectl
          chmod +x ./allurectl
      - run: ./allurectl watch -- pytest test --alluredir=${ALLURE_RESULTS} || true
      - run: printenv
