# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest tests with allure framework

on:
  push:
  workflow_dispatch:
    inputs:
      TEST_ENDPOINT:
        description: "Endpoint for tests"
        required: true
        default: https://qa.somehost.xyz
      TEST_BROWSER:
        description: "Browser for tests"
        required: true
        default: firefox
      ALLURE_JOB_RUN_ID:
        description: "Inner parameter for Allure TestOps"
        required: false
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  ALLURE_ENDPOINT: ${{ secrets.ALLURE_ENDPOINT }}
  ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
  ALLURE_PROJECT_ID: ${{ secrets.ALLURE_PROJECT_ID }}
  ALLURE_TESTPLAN_PATH: "./testplan.json"
  ALLURE_RESULTS: "allure-results"
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
    - uses: actions/github-script@v4
      id: allure-job-uid
      with:
        result-encoding: string
        script: |
          const result = await github.actions.getWorkflowRun({
            owner: context.repo.owner,
            repo: context.repo.repo,
            run_id: context.runId,
          });
          return `${context.repo.owner}/${context.repo.repo}/actions/workflows/${result.data.workflow_id}`
    - name: Download allurectl
      run: |
        wget https://github.com/allure-framework/allurectl/releases/download/1.20.3/allurectl_linux_386 -O ./allurectl
        chmod +x ./allurectl
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install allure-pytest pytest
    - name: Prepare test plan
      run: ./allurectl job-run plan --output-file ${ALLURE_TESTPLAN_PATH}
    - name: Test with pytest and gen allure results
      run: ./allurectl watch -- pytest --alluredir=${ALLURE_RESULTS}
  env-data:
    - name: Gettings env data
      run: |  
        printenv
        printenv | grep ALLURE_
