name: run-rerun

on:
  workflow_dispatch:
    inputs:
      ALLURE_JOB_RUN_ID:
        description: "Inner parameter for Allure TestOps"
        required: false

env:
  ALLURE_ENDPOINT: https://testing.allure.aws.qameta.in
  ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN_TESTING }}
  ALLURE_PROJECT_ID: 276
  ALLURE_RESULTS: "allure-results"
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}

jobs:
  all-tests:
    runs-on: ubuntu-latest
    outputs: 
      allure-ci-env: ${{ steps.dump-ci-envs.outputs.allure-ci-env }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install allure-pytest pytest
          wget https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64 -O ./allurectl
          chmod +x allurectl
        shell: bash
        working-directory: ${{ github.action_path }}
      - uses: actions/github-script@v4
        id: allure-job-uid
        with:
          result-encoding: string
          script: |
            const result = await github.actions.getWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId,
            });
            return `${context.repo.owner}/${context.repo.repo}/actions/workflows/${result.data.workflow_id}`
      - uses: actions/download-artifact@v2
        with:
          name: allure-launch-id
        continue-on-error: true

      - uses: actions/download-artifact@v2
        if: github.run_attempt > 1
        with:
          name: allure-launch-id
      - name: Read ALLURE_LAUNCH_ID from file
        if: github.run_attempt > 1
        run: |
          ALLURE_LAUNCH_ID=$(cat allure_launch_id.txt)
          echo "ALLURE_LAUNCH_ID is $ALLURE_LAUNCH_ID"

      - name: Run pytest
        id: dump-ci-envs
        if: github.run_attempt == 1  
        continue-on-error: true
        run: |
          echo "allure-ci-env=$(bin/allurectl ci env --encode)" >> $GITHUB_OUTPUT
          ./allurectl watch -- pytest test --alluredir="$ALLURE_RESULTS" || true
          # export $(./allurectl job-run env | grep ALLURE_LAUNCH_ID)
          # printenv ALLURE_LAUNCH_ID > allure_launch_id.txt
        shell: bash
        working-directory: ${{ github.action_path }}
        env:
          ALLURE_JOB_UID: ${{ steps.allure-job-uid.outputs.result }}
      - name: save allure launch id to file
        if: github.run_attempt == 1
        env:
          ALLURE_JOB_UID: ${{ steps.allure-job-uid.outputs.result }}
          ALLURE_CI_ENV: ${{ steps.dump-ci-envs.outputs.allure-ci-env }}
        run: |
          export $(./allurectl job-run env | grep ALLURE_LAUNCH_ID)
          printenv ALLURE_LAUNCH_ID > allure_launch_id.txt
      - uses: actions/upload-artifact@v2
        with:
          name: allure-launch-id
          path: allure_launch_id.txt